# dependencies
/node_modules
.pnp
.pnp.js

# build output
/build
/dist

# test coverage
/coverage

# IDE/Editor specific files
.idea
.vscode
*.iml
*.ipr
*.iws
*.bak
*.swp
*~

# logs
logs
*.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
